body {

     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
     background-color: #96aa4d;
     
 }

 h1 {
    color:blue;
    text-decoration: rgb(120, 91, 148);
}
h2 {

    color: rgb(228, 96, 8);
    text-decoration: underline;
}
label {
    color: rgb(9, 88, 9)87, 214, 187)87, 214, 187)87, 214, 187)87, 214, 187)87, 214, 187)87, 214, 187);
    font-size: 20px;
    font-family: monospace;
}
tr {
    color: rgb(129, 16, 16);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-style: inherit;
    color: red;
    font-family: serif;
    font-size: medium;
}

.purple {
    color: purple;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    font-size: normal;
    color: rgb(39, 101, 126);
}

legend {
    color: chocolate;
    font-size: 28px;
}

h4 {
    color: rgb(10, 10, 10);
    font-weight: bold;
    background-color: #e5e4d7;
    padding: 5px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    
}

h5 {
    color: purple;
    font-weight: bold;
    background-color: #e5e4d7;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-width: 5px;
    border-style: ridge;
    margin: 10px;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 40px;
    padding-right: 40px;    
}

.imagec {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
    background-color: gold;
    border-color: black;
    border-width: 4px;
    border-style: solid;

}